/* navbar */
  #navbar h1 {
    float: none;
    text-align: center;
  }
  #navbar ul, 
  #navbar ul li {
    float: none;
  }
  #navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
  }

  /* showcase */
     #showcase {
        height: 100%;
       }
       #showcase .showcase-content {
        padding-top: 70px;
        padding-bottom: 30px;
       }
       
    /* info */
   #info {
    height: 500px;
   }
   #info .info-img {
    display: none;
   }
   #info .info-content {
    float: none;
    width: 100%;
   }

   /* features */
   #features .box {
    float: none;
    width: 100%;
   }

   /* about */
   #about-info .info-right {
    margin-top: 30px;
    float: none;
    width: 100%;
   }
   #about-info .info-left h1 {
    text-align: center;
    float: none;
    width: 100%;
   }

   /* contact */
   #contact-form h1,
   #contact-form p {
    text-align: center;
   }
   #contact-info .box {
    float: none;
    width: 100%;
    border-bottom: #444 dotted 1px;
   }
